<div class="modal fade" id="accounts-modal" tabindex="-1" role="dialog" aria-labelledby="accountsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {% load socialaccount %}
        {% providers_media_js %}
        <a class="btn btn-default btn-lg btn-block" href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>
        <p></p>
        <p class="accounts-separator text-center">or</p>
        <form>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input type="email" class="form-control input-lg" id="email" placeholder="Enter email">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input type="password" class="form-control input-lg" id="password" placeholder="Password">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input type="password" class="form-control input-lg" id="password-repeat" placeholder="Repeat password">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="text" value="" class="btn btn-link">Forgot?</button>
      </div>
    </div>
  </div>
</div>
