{% extends "base.html" %}
{% load imagekit %}
{% block content %}
{% include "listing/booking_modal.html" %}
<img src="{{ availability.room.featured_image.url }}" alt="" class="cover"/>
<div class="container">
  <div class="row">
    <div class="hotel-desc">
      <div class="col-sm-8 col-xs-12">
        <h2>{{ availability.room.hotel }} <span class="label label-danger">Hot</span></h2>
        <h3>{{ availability.room.beds }}-bed</h3>
        {% if availability.period.upper %}
        <div>{{ availability.period.lower }}</div>
        <div>{{ availability.period.upper }}</div>
        {% else %}
        <div>Available from {{ availability.period.lower }}</div>
        {% endif %}
      </div>
      <div class="col-sm-4 col-xs-12 hotel-desc-right">
        <label for="book"></label>
        <button type="button" name="book" id="book" value="Book now!" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#booking-modal">
          Book now!
        </button>
        <div class="price">
          $100
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
