{% extends "base.html" %}

{% block jumbo %}
<div class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h1>Staycations</h1>
      <h2>at your fingertips</h2>
    </div>
    {% block search %}
    <div class="row search">
      <div class="col-md-8 col-md-offset-2 text-center">
        {% include "listing/search_form.html" %}
      </div>
    </div>
    {% endblock search %}
  </div>
</div>
{% endblock jumbo %}

{% block content %}
<div class="container">
  {% include "listing/exclusive_list.html" %}
  {% include "listing/listing_list.html" %}
</div>
{% endblock content %}
