/* ==========================================================================
Author's custom styles
========================================================================== */

.thumbnail {
    padding: 0;
}

.thumbnail .caption {
    padding: 1em;
}

.thumbnail .price {
    position: absolute;
    top: 1em;
    padding: 0.3em 1em;
    background: rgba(255, 255, 255, 0.8) fixed top;
    font-size: 2em;
    transition: all 3s;
}
