<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="/" />
  <div class="modal fade" id="accounts-modal" tabindex="-1" role="dialog" aria-labelledby="accountsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% comment %}
          {% load socialaccount %}
          {% providers_media_js %}
          <a class="btn btn-default btn-lg btn-block" href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>
          <p class="accounts-separator text-center">or</p>
          {% endcomment %}
          <p></p>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <input type="email" class="form-control input-lg" id="email" placeholder="Enter email" name="email">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <input type="password" class="form-control input-lg" id="password1" placeholder="Password" name="password1">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <input type="password" class="form-control input-lg" id="password2" placeholder="Repeat password" name="password2">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Sign Up" class="btn btn-success"/>
          <button type="text" value="" class="btn btn-link">Forgot?</button>
        </div>
      </div>
    </div>
  </div>
</form>
